<h2>※サンプルで作ったコンテンツです。</h2>
<p><%= message %></p>
<hr>
<form action="./post" method="post">
	<table>
		<tr><td>ID:</td><td><input type="text" name="idname" /></td></tr>
		<tr><td>PASS:</td><td><input type="password" name="pass" /></td></tr>
		<tr><td></td><td><input type="submit" /></td></tr>
	</table>
</form>
<hr>
<p><a href="/other">other pageへ</a></p>
